{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Liste des chats{% endblock %}
{% block body %}
        <h2>RESULTATS DE VOTRE RECHERCHE</h2>
        <div class="container-chat">
        {% for chat in chats %}
            <div>
                <div class="img-chat" style="background-image: url('{{ chat.photo }}');">&nbsp;</div>
                <div class="item">
                    <h3>{{ chat.nom }}</h3>
                    <ul>
                        <li><strong>Sexe :</strong> {{ chat.sexe }}</li>
                        <li><strong>Race :</strong> {{ chat.race }}</li>
                        <li><strong>Age :</strong> {{ chat.age }}</li>
                        <li><strong>Caractère :</strong> {{ chat.caractere }}</li>
                        <li><strong>Date de recueil :</strong> {{ chat.dateRecueil | date("d/m/Y") }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
